@import "defines";

html, body {
  width: 100%;
  height:100%;
  margin:0;
  padding:0;
  overflow:hidden;
}

#game-canvas {
  width:100%;
  height:100%;
}

.distance {
  position:absolute;
  top:0;
  left:0;
  height : 50px;
  background-color: red;
  color:white;
  padding:10px;
  line-height: 50px;
}

@import "splashscreen";
